/* typography */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    background: none;
    border: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-primary {
    border: none;
}

.btn-primary:hover {
    background: #fa0606;
}

/* card design  start*/

.card_icon_box {
    background: #FF575826;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    padding: 19px;
    margin-bottom: 10px;
}

.card {
    border: 1.6px solid #E5E5EA;
    border-radius: 5px;
    height: 100%;
}

.card-body {
    padding: 36px;
}

.card h2 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 25.68px;
    letter-spacing: 0px;
    color: #053B5B;
    text-align: center;
    margin-bottom: 10px;
}

.card p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #5F6C72;
    max-width: 364px;
    width: 100%;
    margin: 0 auto;
}

.read_more_btn {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 25.68px;
    letter-spacing: 0px;
    color: #FF5758;
    margin-top: 10px;
}

@media (max-width:992px) {
    .card-body {
        padding: 10px;
    }
}

/* card design  end*/




/* top bar and header start */
.topbar {
    background: #FF575826;
    border-bottom: 1px solid #E5E5EA;
}

.topbar .social_link_list {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 12px;
}

.topbar .social_link {
    color: #053B5B;
    font-size: 21px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar .social_link:hover {
    transform: scale(1.1);
}

.contact_list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    color: #2D1817;

}

.contact_list .contact_link {
    color: #2D1817;
    font-family: Lato;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
    font-size: 21px;
}

.contact_list .contact_link span {
    font-size: 14px;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #E5E5EA;
    position: sticky;
    top: 0;
    z-index: 1050;
}

.logo_area .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.logo_area .logo img {
    height: 67px;
    width: 67px;
}

.logo_area .logo ul li:first-child {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 13.67px;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    vertical-align: middle;
    text-transform: capitalize;
    color: #053B5B;
    margin-bottom: 5px;

}

.logo_area .logo ul li:last-child {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 11.96px;
    line-height: 12px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FF5758;
    text-align: left;
}

.navigation_area nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav_link {
    font-family: Poppins;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #053B5B;
    position: relative;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 8px 5px;
    cursor: pointer;
}

.nav_link:hover {
    position: relative;
    color: #FF5758;
}

.nav_link:hover::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FF5758;
    content: '';
    animation: navunderline .3s ease;
}

/* Reverse animation when mouse leaves */
.nav_link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background: #FF5758;
    transition: width 0.3s ease;
}

@keyframes navunderline {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.nav_link.active {
    position: relative;
    color: #FF5758;
}

.nav_link.active::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FF5758;
    content: '';
}

.requestanAppointment {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
    background: #FF5758;
}

.moreNavitemlist {
    display: none;
}

.moreItemactive:hover .moreNavitemlist {
    display: block;
}


/* Toggle button styling */

.menutogglebtn {
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menutogglebtn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FF5758;
    border-radius: 3px;
    margin: 3px 0;
    transition: all 0.3s ease;
    transform-origin: center;
}

/* Animation to X */
.menutogglebtn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menutogglebtn.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
}

.menutogglebtn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* CSS for the animation */
.menutogglebtn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FF5758;
    border-radius: 3px;
    margin: 3px 0;
    transition: all 0.3s ease;
    transform-origin: center;
}

.menutogglebtn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menutogglebtn.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
}

.menutogglebtn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 992px) {
    .navigation_area {
        width: 250px;
        height: calc(100vh - 140px);
        position: absolute;
        right: 0;
        top: 100%;
        background: #ffffff;
        overflow-y: auto;
        padding: 20px;
        box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
        display: none;
    }

    .navigation_area nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation_area.navActive {
        display: block;
        animation: slidenavbar 0.3s ease;
    }

    @keyframes slidenavbar {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

@media (max-width: 481px) {
    .separator {
        display: none;
    }

    .contact_list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .contact_list .contact_link {
        font-size: 16px;
    }

    .contact_list .contact_link span {
        font-size: 14px;
    }
}

/* top bar and header start */



/* hero section start */
.heroSection {
    background: url(../images/home_hero.png) no-repeat center/cover;
    padding: 223px 0;
}

.explore_service {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
    background: none;
    border: 1px solid #FFFFFF;
}

.hero_main_area h1 {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    color: #ffffff;
    max-width: 641px;
    width: 100%;
    text-wrap: wrap;
    margin-bottom: 31px;
}

@media (max-width: 576px) {
    .hero_main_area h1 {
        font-size: 32px;
        line-height: 42px;
    }
}

/* hero section end */


/* Why Choose us start */
.doctor_avatar_image {
    height: 245px;
    width: 245px;
    border-radius: 50%;
    border: 1px solid #053B5B;
    background: #053B5B24;
    padding: 54px;
}

.whychooseUs_area h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    color: #053B5B;
    margin-top: 17px;
    margin-bottom: 10px;
}

.whychooseUs_area p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing: 0px;
    text-align: justify;
    vertical-align: middle;
    text-transform: lowercase;
    color: #000000;
}

@media (max-width: 420px) {
    .whychooseUs_area h1 {
        font-size: 35px;
    }
}

/* Why Choose us end */



/* Our Philosophy start */
.our_Philosophy_area {
    background: #053B5B24;
    overflow: hidden;
}

.heart_avatar_image {
    height: 245px;
    width: 245px;
    border-radius: 50%;
    border: 1px solid #053B5B;
    background: #053B5B24;
    padding: 54px;
}

.our_Philosophy_area h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 17px;
    color: #053B5B;
}

.our_Philosophy_area p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing: 0px;
    text-align: justify;
    vertical-align: middle;
    color: #000000;
}

@media (max-width:992px) {
    .our_Philosophy_area h1 {
        margin-top: 0;
    }
}

@media (max-width:420px) {
    .our_Philosophy_area h1 {
        font-size: 36px;
    }
}

/* Our Philosophy end */



/* Your 3-Step Journey to Recovery  start*/
.your_Journey_to_Recovery h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #053B5B;
}

@media (max-width: 576px) {
    .your_Journey_to_Recovery h1 {
        font-size: 35px;
    }
}

@media (max-width: 420px) {
    .your_Journey_to_Recovery h1 {
        font-size: 28px;
    }
}

/* Your 3-Step Journey to Recovery  end*/


/* footer start */
.footer_area {
    background: #053B5B;
    overflow: hidden;
}

.footer_area h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 40px;
}

.footerlogo_area {
    background: #ffffff;
    border-radius: 3px;
    padding: 11px 20px;
    margin-bottom: 48px;
    max-width: 427px;
    width: 100%;
}

.map_area {
    max-width: 548px;
    width: 100%;
    height: 215px;
    margin-bottom: 37px;
}

.addressList li {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #ffffff;
}

.address_area {
    max-width: 548px;
    width: 100%;
}

.contact_form label {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
    display: block;
}

.contact_form input {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #6C7275;
    border: none;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 7px 16px;
    width: 100%;
}

.contact_form textarea {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #6C7275;
    border: none;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 7px 16px;
    width: 100%;
    height: 140px;
    resize: none;
}

.submitBtn {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
    background: #FF5758;
}

.copywriteArea {
    background: #025586;
    padding: 20px;
}

.footernavlink_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footernavlink_list li {
    color: #ffffff;
}

.footernavlink_list li a {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FEFEFE;

}

.copywriteText {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #E8ECEF;
    margin-top: 11px;
    text-align: center;
    text-wrap: wrap;
}

#backToTop {
    display: none;
    /* hidden by default */
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #FF5758;
    color: #fff;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.3s;
    z-index: 1000;
}

#backToTop:hover {
    background-color: #e04445;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .map_area {
        max-width: unset;
    }
}

@media (max-width: 420px) {
    .footernavlink_list {
        gap: 10px;
    }
}

/* footer end */



/* ====================preloader start==================== */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.loader {
    position: relative;
    text-align: center;
    width: 100%;
}

/* Runner SVG */
#runner {
    width: 120px;
    height: 120px;
    animation: runForward 2s linear infinite;
    position: absolute;
    bottom: -10px;
    z-index: 2;
}

/* Road */
.road {

    width: 100%;
    height: 6px;
    background: repeating-linear-gradient(to right,
            #053B5B,
            #053B5B 20px,
            #FF5758 20px,
            #FF5758 40px);
    margin: -20px auto 20px auto;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

/* Running forward effect */
@keyframes runForward {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Text style */
.loading-text {
    padding-top: 10px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: bold;
    color: #053B5B;
    letter-spacing: 1px;
}

/* ====================preloader end==================== */



/* ============================================================= */
/* ====================home page end============================ */
/* ============================================================= */



/* ============================================================= */
/* ====================about us page start====================== */
/* ============================================================= */

.about_hero {
    padding: 47px 0;
}

.about_hero h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
    color: #053B5B;
    display: block;
    border-bottom: 2px solid #053B5B;
    padding-bottom: 5px;
}

.doctorimage {
    width: 100%;
    max-width: 719px;
    /* Maximum original size er moto hobe */
    aspect-ratio: 719 / 414;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    /* Optional: looks modern */
}

.name_area {
    width: 304px;
    height: 205px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    color: #ffffff;
    background: #FF5758;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content {
    border: 1.61px solid #E5E5EA;
    padding: 54px 35px;
    border-radius: 5px;

}

.about_content p {
    font-family: Poppins;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: start;
    vertical-align: middle;
    color: #000000;
}

.certificate_area h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #053B5B;
    margin-bottom: 26px;
}

@media (max-width:992px) {
    .name_area {
        width: 100%;
        height: auto;
    }

}

@media (max-width:576px) {
    .about_content {
        padding: 20px 10px;

    }

}

/* ============================================================= */
/* ====================about us page end====================== */
/* ============================================================= */



/* ============================================================= */
/* ====================service page start====================== */
/* ============================================================= */
.service_main_hero_area {
    background: url(../images/service_hero.png) no-repeat center/cover;
    aspect-ratio: 1280/492;
}

.service_main_hero_area h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;
}

.areasWetreat h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 25.68px;
    letter-spacing: 0px;
    color: #053B5B;
    margin-bottom: 24px;
}

.treatItem {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
}

.treatItem span {
    display: block;
    background: #ffffff;
    border: 5px solid #FF5758;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    flex-shrink: 0;
}

.treatItem h3 {
    font-family: Poppins;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    color: #000000;
}

@media (max-width: 546px) {
    .service_main_hero_area h1 {
        font-size: 30px;
    }
}

@media (max-width: 420px) {
    .service_main_hero_area h1 {
        font-size: 25px;
    }
}

@media (max-width: 346px) {
    .service_main_hero_area h1 {
        font-size: 20px;
    }
}

/* ============================================================= */
/* ====================service page end====================== */
/* ============================================================= */


/* ============================================================= */
/* ====================Insurance page start====================== */
/* ============================================================= */
.insuranceProviders {
    background: #FAFAFA;
}

.insuranceProviders h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #053B5B;
}

.insuranceProviders p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #5F6C72;
}

.insuranceProviders_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
}

.insuranceProviders_list .card {
    width: calc((100% - 44px) / 3);
}

@media (max-width: 992px) {
    .insuranceProviders_list .card {
        width: calc((100% - 22px) / 2);
    }
}

@media (max-width: 576px) {
    .insuranceProviders_list .card {
        width: 100%;
    }
}

/* ============================================================= */
/* ====================Insurance page end====================== */
/* ============================================================= */


/* ============================================================= */
/* ====================Testimonials page start====================== */
/* ============================================================= */
.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: #FF5758;
    display: block;
    height: 19px;
    width: 19px;
}

.reviwer {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.2px;
    vertical-align: middle;
    color: #090914;
    margin-top: 40px;
}

.viewAllbtn,
.submitBtn {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
    background: #FF5758;
    border: none;
}

.star_box {
    height: 31px;
    width: 31px;
    background: #F2F2F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star_box .star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: #FFCC00;
    display: block;
    height: 19px;
    width: 19px;
}

.reviewSubmitcard label {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #191C1F;
}

.reviewSubmitcard textarea {
    border: 1px solid #E4E7E9;
    height: 94px;
    resize: none;
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #77878F;
}

.slider_area {
    margin: 0 auto;
    padding: 0 15px;
}

.slider_items {
    padding: 0 10px;
    /* Gap between items */
    box-sizing: border-box;
}

.slide_image {
    aspect-ratio: 305 / 328;
    overflow: hidden;
    border-radius: 10px;
}

.slide_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* ============================================================= */
/* ====================Testimonials page end====================== */
/* ============================================================= */



/* ====================================================== */
/* ====================faq page start====================== */
/* ======================================================= */
.faq_main_area {
    max-width: 768px;
    margin: 0 auto;
}

.faq_item {
    padding: 24px 0;
    border-bottom: 2px solid #EAECF0;
}

.faq_item:last-child {
    border-bottom: none;
}

.faq_item h4 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #101828;
    text-align: left;
}

.faq_answer {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0%;
    color: #667085;
    padding: 10px 0;
}

.expendicon {
    color: #FF5758;
    font-size: 21px;
}

.faqitems .expendicon .plus {
    display: inline-block;
}

.faqitems[aria-expanded="true"] .expendicon .plus {
    display: none;
}

.faqitems .expendicon .minus {
    display: none;
}

.faqitems[aria-expanded="true"] .expendicon .minus {
    display: inline-block;
}

@media (max-width: 576px) {
    .faq_item h4 {
        font-size: 16px;
        line-height: 24px;
    }
}

/* ====================================================== */
/* ====================faq page end====================== */
/* ======================================================= */


/* ============================================================ */
/* ====================Privecy policy page start====================== */
/* =============================================================== */
.privecy_p_and_terms_hero {

    background: url(../images/privacy_Policy_hero.png) no-repeat 0 0 / 100% 100%;
    background-color: #ffffff;
    height: 538px;
}

.privecy_p_and_terms_hero h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #053B5B;
    padding-top: 120px;
}

.policy_main_area {
    max-width: 1170px;
    margin: 0 auto;
}

.policy_main_area p {
    color: #000000 !important;
    max-width: unset !important;
    line-height: 25px;
    font-size: 16px;
    text-align: left;
}

.policy_main_area ul {
    list-style-type: disc;
    padding-left: 22px;
}

.policy_main_area ul li {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

/* ============================================================ */
/* ====================Privecy policy page end====================== */
/* =============================================================== */